run first two cells and last one

In [1]:
import pandas as pd
import neon_data_tools
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np
%matplotlib inline

In [2]:
site = "HARV"
dates = ["2017-04", "2017-05", "2017-06", "2017-07", "2017-08"]
package = "basic"
datasets = ["ticks", "relative humidity", 'precipitation']
dpIDs = {"ticks": "DP1.10093.001", "relative humidity": "DP1.00098.001", "precipitation": "DP1.00006.001"}
file_names = {"ticks": [], "relative humidity": [], "precipitation": []}

In [ ]:

# uncomment to download the data, and then comment it out again

# file_names["ticks"].append(neon_data_tools.download_data("ticks", "DP1.10093.001", site, dates, package))
# file_names["ticks"].append(neon_data_tools.download_data("ticks", "DP1.10093.001", site, "2017-05", package))
# file_names["relative humidity"].append(neon_data_tools.download_data("relative humidity", "DP1.00098.001", site, dates, package))
# neon_data_tools.get_data_urls("DP1.00098.001", site, '2017-04', package)
# neon_data_tools.get_data_urls("DP1.00006.001", site, '2017-04', package)

# neon_data_tools.get_file_names(file_names, "ticks", "DP1.10093.001", site, dates, package)
# neon_data_tools.get_file_names(file_names, "ticks", "DP1.10093.001", site, "2017-05", package)
# neon_data_tools.get_data_over_time(file_names, "ticks", "DP1.10093.001", site, dates, package)
# neon_data_tools.get_data_over_time(file_names, "relative humidity", "DP1.00098.001", site, dates, package)
# neon_data_tools.download_data("relative humidity", "DP1.00098.001", site, '2017-05', package)
# neon_data_tools.download_data("relative humidity", "DP1.00098.001", site, '2017-05', package)

In [ ]:
# tick_data = pd.read_csv("DP1.10093.001/tck_taxonomyProcessed.2017-04.basic.20211222T024529Z.csv")
# pd.concat(map(pd.read_csv, ['DP1.10093.001/tck_taxonomyProcessed.2017-04.basic.20211222T024529Z.csv', 'DP1.10093.001/tck_taxonomyProcessed.2017-05.basic.20211221T223943Z.csv']), ignore_index=True)
# neon_data_tools.create_stacked_csv(["DP1.10093.001/tck_taxonomyProcessed.2017-04.basic.20211222T024529Z.csv", "DP1.10093.001/tck_taxonomyProcessed.2017-05.basic.20211221T223943Z.csv"] )

# file_paths = file_names["ticks"]
# neon_data_tools.create_stacked_dataframe(file_paths)

In [ ]:
# relative_humidity_data = pd.read_csv("DP1.00098.001/000.060.030.RH_30min.2017-06.basic.20211210T174733Z.csv")
# relative_humidity_data

# file_paths = file_names["relative humidity"]
# neon_data_tools.create_stacked_dataframe(file_paths)

In [3]:
# [0] is tick dataframe, [1] is relative humidity dataframe, [2] is precipitation dataframe
# if you need this data, copy th next line into desired function and access data from apropriate dataframe
stacked_dataframes = neon_data_tools.download_all_datasets(file_names, datasets, dpIDs, site, dates, "basic")
stacked_dataframes[2]

,startDateTime,endDateTime,priPrecipBulk,priPrecipNumPts,priPrecipExpUncert,priPrecipFinalQF
0,2017-04-01T00:00:00Z,2017-04-01T00:30:00Z,NaN,NaN,NaN,1
1,2017-04-01T00:30:00Z,2017-04-01T01:00:00Z,NaN,NaN,NaN,1
2,2017-04-01T01:00:00Z,2017-04-01T01:30:00Z,NaN,NaN,NaN,1
3,2017-04-01T01:30:00Z,2017-04-01T02:00:00Z,NaN,NaN,NaN,1
4,2017-04-01T02:00:00Z,2017-04-01T02:30:00Z,NaN,NaN,NaN,1
...,...,...,...,...,...,...
7339,2017-08-31T21:30:00Z,2017-08-31T22:00:00Z,0.0,6.0,0.0,0
7340,2017-08-31T22:00:00Z,2017-08-31T22:30:00Z,0.0,6.0,0.0,0
7341,2017-08-31T22:30:00Z,2017-08-31T23:00:00Z,0.0,6.0,0.0,0
7342,2017-08-31T23:00:00Z,2017-08-31T23:30:00Z,0.0,6.0,0.0,0
7343,2017-08-31T23:30:00Z,2017-09-01T00:00:00Z,0.0,6.0,0.0,0